.certiCnt{
    display: flex;
    background-color: var(--one);
    flex-direction: column;
    align-items: center;
}
.gridCnt{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    width: 80%;
    background: linear-gradient(to right, var(--two), var(--one));
    padding: 20px;
    border-radius: 15px;
}
.d0 img, .d1 img,.d2 img,.d3 img,.d4 img,.d5 img,.d6 img,.d7 img,.d8 img,.d9 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius:10px ;
    display: block;
    opacity: .7;
}

.certiTitle{
    color: var(--three);
    margin: 50px 0px;
}

@media only screen and (max-width: 767px){
    .gridCnt{
        grid-template-columns: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .gridCnt{
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width: 1200px) {
    .gridCnt{
        grid-template-columns: auto auto;
    }
}
    
      
    