:root{
    --oneHundred:#e7e7e7;
    --twoHundred: #d1d1d1;
    --threeHundred: #b0b0b0;
    --fourHundred: #888888; 
    --fiveHundred:#6d6d6d;
    --sixHundred:#5d5d5d;
    --sevenHundred:#4f4f4f;
    --nineHundred:#3d3d3d;
    --one:#161A30;
    --two:#31304D;
    --three:#B6BBC4;

}
body{
    font-family: 'Lato', sans-serif;
}

*{
    scroll-behavior: smooth;
}


.seccionPortada{
    display: flex;
    min-height: 100vh;
    align-items: center;
    /* padding-left: 10rem; */
    background-color: var(--one);
    /* color:#fff; */
    /* box-shadow: 0px 0px 13px 5px rgba(0,0,0,0.6); */
    justify-content: space-evenly;

}

.cntPortada{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    min-height: 60vh;    
    
}
    .cntPortada h1{
        margin: 0;
        font-size:4rem;
        color:var(--oneHundred);
        /* color: var(--green); */
    }
    .cntPortada h2{
        margin: 0;
        color: var(--three)
    }
    .cntPortada h2::after{
        content: "</>";
        color: #7E30E1;
    }
    .cntPortada p{
        font-size:18px;
        margin: 0;
        color: var(--three)
    }

.cntLinks{
    display: flex;
    justify-content: space-between;
}

.cntLinks div{
    display: flex;
    align-items: center;
}

.cntLinks a {
    display: flex;
    width: 2rem;
    margin-right: 10px;
    transition: .3s;
    opacity: .8;
    background-color: #b6bbc4a4;
    padding: 5px;
    border-radius: 5px;
}
.cntLinks a:hover {
    transform: translateY(-7px);
    color: #000;
    background-color: var(--three);
}
.cntLinks a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
}
    .header a{
        text-decoration: none;
        color: var(--three);
    }
.cntLinksHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cntLinksHeader a{
    text-decoration: none;
    /* color: #fff; */
    padding: 7px;
    border-radius: 5px;
    transition: .3s;
    font-size: 17px;
    margin-right: 20px;
    background-color: var(--two);
    color: #fff;
    font-weight:900;

}
.cntLinksHeader a:hover{
    background-color: var(--three);
    color: #000;

}
#cvLink{
    width: auto;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    /* border: 2px solid #000; */
    border-radius: 5px;
    font-weight: bolder;
    color: #000;
    background-color: var(--two);
    color: #fff;
    padding: 10px;
    /* box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.4); */
    /* border:1px solid var(--sixHundred) */
}

#cvLink:hover{
    /* box-shadow:
    0px -3px 14px .5px #7E30E1; */
    color: #000;
    background-color: var(--three);
}


.pictureCnt{
    height: 300px;
    border-radius:10%;
    width: 300px;
    /* border:1px solid var(--fiveHundred); */
    box-shadow:
    0px 0px 30px 20px var(--two);
    /* transition: .3; */
}
/* .pictureCnt:hover{
    box-shadow:
    0px 0px 30px 5px var(--three);

} */

    .pictureCnt img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10%;

    }

    

@media only screen and (max-width: 767px) {
    #inactive{
        display: none;
    }
    #active{
        display: flex;
    }
    .cntLinksHeader{
        background-color: #5d5d5d;
        position: absolute;
        right: 0px;
        top: 0px;
        flex-direction: column;
        height: 100vh;
        width: 250px;
        /* display: none; */
    }
    
    .cntLinksHeader a{
        background-color: transparent;

    }
    .hamburguerMenu{
        /* background-color: #802626; */
        display: flex;
        position: absolute;
        top: 0px;
        height: 70px;
        width: 70px;
        right: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
    }
    .hamburguerMenu span{
        background-color: rgb(255, 248, 248);
        width: 40px;
        height: 3px;
        /* margin-bottom: 10px; */
        
    }
    .hamburguerMenu1{
        /* background-color: #802626; */
        display: flex;
        position: absolute;
        top: 0px;
        height: 70px;
        width: 70px;
        right: 0px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        align-items: center;
    }
    .hamburguerMenu1 span{
        background-color: rgb(255, 248, 248);
        width: 40px;
        height: 3px;
        /* margin-bottom: 10px; */
        
    }
    .hamburguerMenu1 span:nth-child(1) {
        transform: rotate(-45deg) translate(1px, 6px);
      }
      
      .hamburguerMenu1 span:nth-child(2) {
        opacity: 0;
      }
      
      .hamburguerMenu1 span:nth-child(3) {
        transform: rotate(45deg) translate(2px, -6px);
      }
    

    .seccionPortada{
        flex-direction: column-reverse;
    }
    .pictureCnt{
        display: none;
    }
    .cntPortada{
        /* background-color: #4f4f4f; */
        height: 80vh;
        padding: 10vh 0vh;
        align-items: center;
        justify-content: space-around;
    }
    .cntPortada h1, .cntPortada h2, .cntPortada p{
        text-align: center;

    }
    .cntPortada h1{
        font-size: 45px;
    }
    .cntPortada h2{
        font-size: 20px;
    }
    .cntPortada p{
        font-size: 16px;
    }
    .cntLinks a{
        width: 1rem;
        height: 1rem;
    }
    
}
      
    